@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #d9d9d9;
  font: Verdana;
  overflow: hidden;
  background: url(../login/assets/gray.jpg);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav a {
  color: white;
  margin: 10px;
  font-size: 20px;
}
.arealogin {
  display: flex;
  justify-content: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000055;
  width: 355px;
  height: 320px;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 8px 6px 15px black;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login input {
  margin-top: 10px;
  background-color: #00000050;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  transition: 1.05s;
} 
input:hover{
    color: white;
    transform: scale(1.05);
}

.login img {
  width: 100px;
  height: auto;
}
.input::placeholder {
  color: white;
  font-size: 14px;
  padding-left: 10px;
}
form [type="submit"] {
  display: block;
  background-color: #00661d;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
form [type="submit"]:hover {
  background-color: #353d40;
}

p {
  color: white;
}
a {
  color: #00661d;
  text-decoration: none;
}
a:hover {
  color: white;
}
header {
  margin: 0;
  padding: 0;
}
