* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(assets/gray.jpg);
  display: flex;
  position: relative;
  background-position: center;
  background-size: cover;
  justify-items: center;
  overflow: visible;
  display: block;
}
.logo {
  height: 105px;
  margin-bottom: 30px;
  margin: 20px;
  transition: 0.4s;
}
.logo img:hover {
  transform: scale(1.4);
}
.pesquisa input {
  height: 40px;
  width: 500px;
  border-radius: 20px;
  padding-left: 20px;
  border-radius: none;
  margin-left: 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0101018d;
}
.menu ul li {
  display: flex;

  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.menu li a:hover {
  color: #004700;
}
button {
  background-color: #004700;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.4s;
  margin: 30px;
  margin-left: 230px;
}
button:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: #1c1c1c;
}
section {
  background-color: #4343433a;
  height: 400px;
}

main .imgs {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 100px;
  background-color: #1c1c1caf;
}
main .imgs img {
  height: 300px;
  border-radius: 50px;
  transition: 0.4s;
}

main .imgs img:hover {
  transform: scale(1.1);
}
main .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .btn button {
  margin-right: 250px;
  background-color: #540606;
  height: 60px;
  border-radius: 30px;
}
main .btn button:hover {
  background-color: #1c1c1c;
}
footer {
  text-align: center;
  color: white;
}
