* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
}
/*NAVBAR*/
nav {
  background-color: #000000d3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 150px;
}

nav input {
  height: 30px;
  width: 600px;
  margin: 60px;
  border-radius: 20px;
  background-color: azure;
  padding: 20px;
  font-weight: bold;
}
nav input:hover {
  background-color: rgba(240, 255, 255, 0.804);
  color: rgb(0, 0, 0);
}
.logo {
  height: 100px;
  margin: 30px;
}
ul {
  font-size: 20px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}
ul li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: 0.1.1s;
}
a:hover {
  color: #004700;
  transform: scale(1.1);
}
/*NAVBAR*CLOSE*/

main {
  height: 100%;

  display: grid;
  grid-template-columns: 3fr 1fr;
}
#sec01 {
  height: 105vh;
  width: 150vh;
  box-shadow: 2px 3px 10px black;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
#sec02 {
  box-shadow: 2px 3px 10px black;
  height: 110vh;
  width: 50vh;
}
.card-group {
  display: flex;
  justify-content: center;
  width: 130vh;
  height: 50vh;
}
.card-group .card {
  margin: 3vh;
}
#carouselExampleIndicators {
  height: 30vh;
  margin: 10vh;
}
#carouselExampleIndicators img {
  width: 100%;
  height: 30vh;
}
footer {
  background-color: rgb(43, 43, 43);
  color: white;
  height: 10vh;
}
