* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: url(gray.jpg);
  background-position: center;
  background-size: cover;
  overflow: auto;
  justify-items: center;
}

nav {
  background-color: #0000009d;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 6px 15px black;
}

.container-fluid form {
  width: 100vh;
}

nav input:hover {
  background-color: rgba(240, 255, 255, 0.804);
  color: rgb(0, 0, 0);
}
.logo {
  height: 100px;
  margin: 30px;
}
ul {
  font-size: 20px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-right: 10vh;
  width: 150vh;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: 0.1.1s;
}
a:hover {
  color: #004700;
  transform: scale(1.1);
}
/*MAIN*/
section {
  background-color: rgba(31, 31, 31, 0.77);

  display: flex;
  justify-content: center;
  align-items: center;
}

section .metal img {
  height: 200px;
  padding: 20px;
}

main {
  background-color: rgb(20, 19, 19);
  height: 100px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#carouselExampleIndicators {
  width: 180vh;
  margin-top: 5vh;
}

#carouselExampleIndicators img {
  height: 40vh;
}
#content01 .card {
  width: 40vh;
  background-color: #424242;
  height: 60vh;
  margin: 5vh;
}
#content01 .card p {
  color: white;
}
#content01 .card h5 {
  color: white;
}
.pesquisa {
  display: flex;
  justify-items: center;
  align-items: center;
}
.pesquisa img {
  display: flex;
  justify-content: center;
  height: 20px;
}
